/* Navbar */
.navbar1 {
	
   /* width:100%; */
    padding: 15px 20px;
    color: black;
	height: 5.4rem;
}

.logo {
	float:left;
}
.title{
	float:left;
	width: 200px;
	margin-left: 30px;
	margin-top: 15px;
}

/* Navigation Links */
.nav-links {
    list-style: none;
    display: flex;

    margin: 0px;
    padding: 0;
	float: right;
}

.nav-links li {
    margin: 0 10px;
	color:red;
}

.nav-links a {
    text-decoration: none;
    color: black;
    padding: 10px 14px;
    display: block;
	margin-right: 2px;
    width: 114px;

   
   border: 3px solid rgb(255, 255, 255);
   border-radius: 15px; 
   text-align: center;
}

.nav-links a:hover {

    color:white;
    background-color:#49a010;
   border: 3px solid #49a010;
   border-radius: 15px; 

   text-decoration: none;
   padding: 10px 14px;
   display: block;
   margin-right: 2px;
   width: 114px;
   text-align: center;
}

/* Hamburger Menu (Hidden by Default) */
.hamburger {
    display: none;
    font-size: 28px;
    cursor: pointer;
}

/* Hide checkbox */
#menu-toggle {
    display: none;
}

/* Mobile Styles */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background: #333;
    }

    .nav-links li {
        text-align: center;
        padding: 10px;
    }

    .hamburger {
        display: block;
    }

    /* Toggle Menu */
    #menu-toggle:checked + .hamburger + .nav-links {
        display: flex;
	       	z-index: 2;
       top:80px;
       background-color:green;
       text-align: center;
       gap:2px;
       
    }
   
   
   .nav-links a {
    text-decoration: none;
    color: black;
    padding: 10px 14px;
    display: block;
   border: 3px solid green;
   text-align: center;
}

.nav-links a:hover {

    color:white;
   text-decoration: none;
   padding: 10px 14px;
   display: block;
   margin-right: 2px;
   width: 114px;
   text-align: center;
}
}
