
/* Navbar */
.navbar1 {
	
   width:100%;
    color: black;
    align-items: center;
	height: 5.4rem;
	position: relative;
	
}

.logo {
    width: 10%;
    position: absolute;
    top: 15px;
}
.title{
	width: 20%;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:hsl(164.57deg 46.67% 14.71%);
    position: relative;
    top:33px;
    left: 8%;
	
}

/* Navigation Links */
.nav-links {
    width: 25%;
    position: absolute;
    list-style: none;
    display: flex;
    top: 20px;
    left: 45%;
   
}

.nav-links li {
    margin: 0 10px;
  
  
}

.nav-links a {
    text-decoration: none;
    color: black;
    padding: 10px 14px;
    display: block;
    margin-right: 2px;
    min-width: 100px;  
    white-space: nowrap;  
    border-radius: 15px; 
    text-align: center;
}


.nav-links a:hover {

    color:white;
    
   border-radius: 15px; 

   text-decoration: none;
   padding: 10px 14px;
   display: block;
   margin-right: 2px;
   width: 9%;
  color: rgb(29 161 242);
 
   text-align: center;
   text-decoration:underline;
}

/* Hamburger Menu (Hidden by Default) */
.hamburger {
    display: none;
    font-size: 28px;
    cursor: pointer;
}

/* Hide checkbox */
#menu-toggle {
    display: none;
}

/* Mobile Styles */
@media (max-width: 768px) {
    .title{
        width: 50%;
        margin-left: 10px;
    }
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background: #333;
    }

    .nav-links li {
        text-align: center;
        padding: 10px;
    }

    .hamburger {
        display: block;
        float: right;

    }

    /* Toggle Menu */
    #menu-toggle:checked + .hamburger + .nav-links {
        display: flex;
	       	z-index: 2;
       top:80px;
       background-color:green;
       text-align: center;
       gap:2px;
       
    }
   
   
   .nav-links a {
    text-decoration: none;
    color: black;
    padding: 10px 14px;
    display: block;
   border: 3px solid green;
   text-align: center;
}

.nav-links a:hover {

    color:white;
   text-decoration: none;
   padding: 10px 14px;
   display: block;
   margin-right: 2px;
   width: 114px;
   text-align: center;
}
}
