#read-more-checkbox{

    display: none;
}

#read-more-checkbox:checked ~ .read-more-content{
    display: block;
}

#read-more-checkbox:checked ~ label{
    display: none;
}
.read-more-content{
    display: none;
}
label{
    display: inline-block;
    cursor: pointer;
    color:rgb(23, 228, 0);
    margin-top: 12px;
}