.start-div{
	background-color:#e9e9e9;
	margin:5px;
	width:99%;
	height:450px;
	padding:8px;
	border-radius: 20px;
	position: relative;
}

.carousel{
	
	position:absolute;
	width:50%;
	
}

.d-block{
	border-radius: 10px;
}

.leaf{
	position:absolute;
	width:200px;
	height:300px;
	top:175px;
	left:45%;
	z-index:1;
}


.qotetion_Lets_start{
	position: absolute;
	top: 90px;
	left: 70%;
	
	width: 20%;
}
.myQote{
	
	font-weight: bold;
	font-size: 20px;
	
}
.btn_start{
	width: 150px;
	height: 70px;
	background-color: #62b100;
	position: absolute;
	top: 210px;
	left: 70%;
	text-align: center;
	padding: 20px;
	text-decoration: none;
	color: black;
	border-radius: 20px;
	font-size: 18px;
	font-weight:bold;
	
}

@media only screen and (max-width: 768px) {
	
	
  /* styles for mobile devices */
  
  .start-div{
	  height: 118vh;
  }
  .carousel{
	
	top: 15rem;
	left:3%;
	width:90%;
	
}
.leaf{
	display:none;
}
.qotetion_Lets_start{

	top:1rem;
	left:11%;
	z-index: 1;
	text-align: center;
	width: 80%;
}
.btn_start{
	top:131px; 
	left:30%;
	
}

}