

.start-div{
	
	margin:5px;
	width:99%;
	height:450px;
	padding:8px;
	border-radius: 20px;
	position: relative;
	top: 3px;
}


.leaf{
	position:absolute;
	top: 155px;
	width:200px;
	height:300px;
	left:35%;
	z-index:1;

}


.qotetion_Lets_start{
	position: absolute;
	top: 90px;
	left: 70%;
	width: 20%;
	padding: 10px auto;
}
.myQote{
	
	font-weight: bold;
	font-size: 20px;
	
}
.btn_start{
	width: 150px;
	height: 70px;
	background: linear-gradient(green,#00320b);
	position: absolute;
	top: 210px;
	left: 70%;
	text-align: center;
	padding: 25px;
	text-decoration: none;
	color:#ffffff;
	border-radius: 20px;
	font-size: 18px;
	font-weight:bold;
	
}

@media only screen and (max-width: 768px) {
	
	
  /* styles for mobile devices */
  
  .start-div{
	  height: 118vh;
  }
  .carousel{
	
	top: 15rem;
	left:3%;
	width:90%;
	
}
.leaf{
	display:none;
}
.qotetion_Lets_start{

	top:1rem;
	left:11%;
	z-index: 1;
	text-align: center;
	width: 80%;
}
.btn_start{
	top:131px; 
	left:30%;
	
}

}