.bg-parent p {
  position: absolute;
  top: 215px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 42px;
  font-weight: 700;
}

/* Background Image Properties */
.bg-img {
 
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.807); /*Shadow Inside the Background Image*/
  filter: brightness(60%); /*Reduces Brightness of Background Image*/
  height: 75vh;
  overflow: hidden;
}

.bg-photo{

position:absolute;
top: 0px;
left: 0px;
width: 100%;
height: 100%;
}

/* ---------------------- ABOUT PAGE WAVE ANIMATION ---------------------- */
/* Wave Positioning Purpose */

.about-top-wave-container{
  position: relative;
  width: 100%;
}

.about-bottom-wave-container{
  position: relative;
  width: 100%;
  top: 0;
  transform: rotate(180deg);
}

/* ---------------------- PRODUCT PAGE WAVE ANIMATION ---------------------- */
/* Wave Positioning Purpose */

#product-top-wave-section{
  width: 100%;
  
}
.product-top-wave-container{
  position: relative;
  width: 100%;
  top:0;
}

/* ---------------------- TESTINOMIALS PAGE WAVE ANIMATION ---------------------- */
/* Wave Positioning Purpose */
  

.testinomial-top-wave-container{
  position: relative;
  width: 100%;
  top:0;
}

/* ---------------------- ALL PAGES ANIMATION ---------------------- */

.top-wave-section, .bottom-wave-section{
  width: 100%; 
}

.top-wave-section .wave,
  .bottom-wave-section .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(../resource/wave.png);
    background-size: 1000px 100px;
  }
  .top-wave-section .wave.wave1,
  .bottom-wave-section .wave.wave1{
    animation: animate 30s linear infinite;
    z-index: 4;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
  }
  .top-wave-section.wave2,
  .bottom-wave-section .wave2{
    animation: animate2 15s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
  }
  .about-top-wave-section .wave.wave3,
  .about-bottom-wave-section .wave.wave3 {
    animation: animate 30s linear infinite;
    z-index: 4;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
  }
  .top-wave-section .wave.wave4,
  .bottom-wave-section .wave.wave4 {
    animation: animate2 5s linear infinite;
    z-index: 4;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 20px;
  }

  @keyframes animate {
    0% {
      background-position-x: 0;
    }
    100% {
      background-position-x: 1000px;
    }
  }
  @keyframes animate2 {
    0% {
      background-position-x: 0;
    }
    100% {
      background-position-x: -1000px;
    }
  }

  @media (max-width:768) {

    .bg-parent{
      height: 500px;
      border: 2px soild red;
    }

    .top-wave-section{

      top: 20px;
    }
    
  }