#box {
    height: auto; 
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-wrap: wrap; 
    text-align: center; 
}

#image {
    height: 300px; 
    width: 100%; 
    background-image: url(faq.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#questions {
    width: 100%; 
    max-width: 600px; 
    padding: 20px;
}

.details {
    width: 100%;
}

@media (min-width: 768px) {
    #box {
        flex-direction: row; 
    }

    #image {
        width: 50%;
    }

    #questions {
        width: 50%;
        text-align: left;
    }
}


.details{
    padding-bottom: 10px;
}



@media (max-width: 768px){
    #box{
        flex-direction: column;
    }
@media (max-width: 768px) {
  #questions {
    text-align: center;
    padding: 20px;
  }

  #questions h4,
  #questions h2,
  .details {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  details {
    width: 90%; 
  }

  summary {
    text-align: center;
  }
}

}