
.our_product{
	font-size: 35px;
	height: 20px;
}
.product-container{
	text-align:center;
	margin-top:3px;
	
}
.products {
	width:99%;
    padding: 2px;
	
	overflow: scroll;
	
}
.product{
	margin: 10px;
	
	float: left;
	width:30%;
	border-radius:20px;
	background-color:#f3f3f3;
	overflow: hidden;
	padding-bottom: 10px;
}
.product_name{
	margin:0px;
}
.price{
	margin: 0px;
}

.product_description{
	width:90%;
	height:40px;
	margin: 2px auto;
	padding-top: 10px;
	padding-bottom: 0px;
}
.btn_get_details{
	width:90%;
	height: 50px;
	background-color:#009014;
	color: white;
	font-size: 20px;
	border-style:none;
	
	
}


/* Mobile Styles */
@media (max-width: 768px) {
	
	.product{
		width:98%;
	}
	
}