

.product-container{
	
	margin-top:3px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.our_product{
	text-align:center;
	margin-top: 15px;
	font-size: 21px;
	margin-bottom: 15px;
	height: 20px;
	color: #183a32;
	
}






/* Mobile Styles */
@media (max-width: 768px) {
	
	.product{
		width:98%;
	}
	
}