.title-section {
    width: 100%;
    height: fit-content;
 
    padding: 7px;
    word-wrap: break-word;
}

.heading {
    height: 100%;
    padding-right: 20px;
  
 
    display: table-cell;
    vertical-align: middle;
  

}



.description {

    padding: 10px;
    border-left: 4px solid green;
}


@media (max-width:768) {}