.testimonials{
width: 100%;
display: flex;
justify-items: center;
align-items: center;
flex-direction: column;
}
.bg-parent{
    text-align: center;
}


.bg-leaf{
    flex: 20%;
    margin-right: 0px;
    opacity: 0.7;
    height: 40vh;
}




/* Mobile Styles */
@media (max-width: 768px) {
    .card {
        display: block;
        overflow: hidden;
      }
}