.WhatAgroHom{
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    padding: 20px;
  
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background: white;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #1e4d2b;
    color: white;
}